<h1>Search</h1>

<form method="POST" action="/search">


  <label>balloons<input type='checkbox' name='balloons' value="1"></label>
  <label>paws<input type='checkbox' name='paws' value="2"></label>
  <label>humans<input type='checkbox' name='humans' value="3"></label>
  <label>voyeurism<input type='checkbox' name='voyeurism' value="4"></label>
  <label>bdsm<input type='checkbox' name='bdsm' value="5"></label>
  <label>cuddles<input type='checkbox' name='cuddles' value="6"></label>
  <label>EMOTION by Carly Rae Jepsen<input type='checkbox' name='ebcrj' value="7"></label>
  <label>exhibitionism<input type='checkbox' name='exhibitionism' value="8"></label>
<br>
<input type="submit" />
</form>


{{!-- <a href = '/womble'>Wombling on</a> --}}

